@{
    ViewData["Title"] = "Employee";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="content">
   <ol class="breadcrumb">
      <li><a href="#">Employee</a></li>
      <li class="active"><span>Employee</span> List</li>
   </ol>

   <!-- load messages -->
   <div class="se-pre-con" style="display: none;"></div>

   <!-- load custom page -->
   <div class="row">
      <div class="col-sm-12">
         <div class="panel panel-bd lobidrag">
            <div class="panel-heading">
               <div class="panel-title">
                  <h4>Employee List </h4>
               </div>
            </div>
            <div class="panel-body">
               <div id="paid_CustomerList_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                  <div class="row">
                     <div class="col-sm-12">
                        @Html.AntiForgeryToken()
						<table id="tblEmployee" class="table table-bordered common-data-table" style="width:100%"></table>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>

<div class="modal fade" tabindex="-1" id="modalEmployee" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-lg">
		<div class="modal-content" id="contentEmployee"></div>
	</div>
</div> 

@section scripts{
	<script src="~/js/employeepanelpages/Employee.js" asp-append-version="true"></script>
    <script type="text/javascript">
		if ('@TempData["EmployeeSuccess"]' == "true" && '@TempData["EmployeeMessage"]' != "") {
            Popuphtml('@TempData["EmployeeMessage"]', 'success');
        }
		if ('@TempData["EmployeeError"]' == "true" && '@TempData["EmployeeMessage"]' != "") {
            Popuphtml('@TempData["EmployeeMessage"]', 'error');
        }

		var addEmployeeURL = '@Url.Action("ManageEmployee", "Employee", new { area = "EmployeePanel" })';
		var statusEmployeeURL = '@Url.Action("StatusEmployee", "Employee", new { area = "EmployeePanel" })';
		var deleteEmployeeURL = '@Url.Action("DeleteMultipleEmployee", "Employee", new { area = "EmployeePanel" })';
	</script>
}
