@{
    ViewData["Title"] = "Logbook";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="content">
   <ol class="breadcrumb">
      <li><a href="#">Logbook</a></li>
      <li class="active"><span>Logbook</span> List</li>
   </ol>

   <!-- load messages -->
   <div class="se-pre-con" style="display: none;"></div>

   <!-- load custom page -->
   <div class="row">
      <div class="col-sm-12">
         <div class="panel panel-bd lobidrag">
            <div class="panel-heading">
               <div class="panel-title">
                  <h4>Logbook List </h4>
               </div>
            </div>
            <div class="panel-body">
               <div id="paid_CustomerList_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                  <div class="row">
                     <div class="col-sm-12">
                        @Html.AntiForgeryToken()
						<table id="tblLogbook" class="table table-bordered common-data-table" style="width:100%"></table>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>

<div class="modal fade" tabindex="-1" id="modalLogbook" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-lg">
		<div class="modal-content" id="contentLogbook"></div>
	</div>
</div> 

@section scripts{
	<script src="~/js/pages/Logbook.js" asp-append-version="true"></script>
    <script type="text/javascript">
		if ('@TempData["LogbookSuccess"]' == "true" && '@TempData["LogbookMessage"]' != "") {
            Popuphtml('@TempData["LogbookMessage"]', 'success');
        }
		if ('@TempData["LogbookError"]' == "true" && '@TempData["LogbookMessage"]' != "") {
            Popuphtml('@TempData["LogbookMessage"]', 'error');
        }

		var addLogbookURL = '@Url.Action("ManageLogbook", "Logbook", new { area = "" })';
		var statusLogbookURL = '@Url.Action("StatusLogbook", "Logbook", new { area = "" })';
		var deleteLogbookURL = '@Url.Action("DeleteMultipleLogbook", "Logbook", new { area = "" })';
	</script>
}
